In python there are different types of data
Primitive
Non-primitive

Primitve data types include:
.Integer
.Boolean
.String
.Float

Non primitve data types include:
.Tuple
.Lists
.Sets
.Dictionaries

# Data type conversion

Each data type can be converted into another different data type
Explicit data type conversion-conversion is done manually
Implicit data type conversion-conversion- is done automatically

# Implicit data type conversion

In [3]:
a=2
b=2.5
c=a+b    #an implicit conversion of a to float dat type is performed
#conversion of b to integer is not done since the compiler will need to remove the fractional part leading to loss of information
print(c)
print(type (c))#the type function checks the data type of the stated variable

4.5
<class 'float'>

# Explicit data type  conversion

In [4]:
#it is also known as type casting
a=6
b=18
c=a+b
print(float(c))#Specified the data type to convert to as float

24.0

In [5]:
#integer type conversion
a=4.67
b=9.42
c=a+b
print(int(c))#specified the data type to convert to as integer

14

In [7]:
#real to complex conversion
a=4
b=3
print(complex(a,b))#specified the data type to convert to as complex

(4+3j)

In [11]:
#string data type conversion fro integer
bag_price = 200
sandal_price =350
total_price = bag_price+sandal_price
print("The total price is "+ str(total_price)+" shillings")

The total price is 550 shillings

In [16]:
#string conversion to integer
bag_price = '200'
sandal_price = '350'

#String concatenation
total_price =bag_price + sandal_price
print("The total price is:" + total_price)

#Explicit data type conversion
total_price =int(bag_price) + int(sandal_price)
print("The total price is "+ str(total_price) +" shillings")

The total price is:200350
The total price is 550 shillings

# Non primitive data conversion

list and tuples are used to store  a collection of homogenous items
Tuples are immutable unlike lists-they cannot be delted,edited or added

In [17]:
a_tuple=('j',3),('i',9),('h',6)
b_list=[1,4,0,4,3,2]

print(tuple(b_list))
print(list(a_tuple))

(1, 4, 0, 4, 3, 2)
[('j', 3), ('i', 9), ('h', 6)]

In [18]:
#Converting strings to list or tuple
text="Bowler"
print(text)

#Converting the string to a tuple
print(tuple(text))
#converting text to alist and adding an element
#this shows that lists are mutable
text_list = list(text)
text_list.append('r')
print(text_list)

Bowler
('B', 'o', 'w', 'l', 'e', 'r')
['B', 'o', 'w', 'l', 'e', 'r', 'rrr']

In [22]:
#converting the tuple to dictionaries and set
a_tuple=('k',3),('q',4),('g',1)
print(a_tuple)

 #dictionary
print(dict(a_tuple))

#set
print(set(a_tuple))

(('k', 3), ('q', 4), ('g', 1))
{'k': 3, 'q': 4, 'g': 1}
{('q', 4), ('g', 1), ('k', 3)}

# Unicode, Binary, Octal, and Hexadecimal Integers in Python

The number systems refer to the number of symbols or characters used to represent any numerical value

In [ ]:
#Converting from binary to decimal number system
#Binary are represented with base 2

In [23]:
a=20

#its binary
a_binary =bin(a)
print(a_binary)

#binary to decimal
a=(int(a_binary,2))
print(a)

0b10100
20

In [ ]:
#Converting from octal to decimal
#Octal are represented with base 8

In [24]:
a=45

#Octal
a_octal=oct(a)
print(a_octal)

#decimal
a=(int(a_octal,8))
print(a)

0o55
45

In [ ]:
#Converting from decimal to hexadecimal
#Hexadecimal represents in base 16

In [25]:
a =34

#hexadecimal
a_hex =hex(a)
print(a_hex)

#decimal
a=(int(a_hex,16))
print(a)

0x22
34

In [ ]:
#Convert unicode to character
#Python chr() converts unicode integers to string
#Unicode is a universally accepted character coding for displaying the written texts of the diverse languages

In [27]:
#DATACAMP is being printed
print(
    chr(68),
    chr(65),
    chr(84),
    chr(65),
    chr(67),
    chr(65),
    chr(77),
    chr(80),
)

TypeError: ord() expected string of length 1, but int found